extends layout

block content
 if values == [] 
  h2(style="text-align: center;") #{pageTitle}
  
   table(class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--8dp" style="margin:auto;margin-top:5%;")
     thead
       tr
         th(class="mdl-data-table__cell--non-numeric") Дата показаний
         div(class="mdl-tooltip mdl-tooltip--top" data-mdl-for="tt1") Потребленная энергия
           th#tt1 Active energy
         div(class="mdl-tooltip mdl-tooltip--top" data-mdl-for="tt2") Суммарная активная энергия
           th#tt2 Total active energy
         div(class="mdl-tooltip mdl-tooltip--top" data-mdl-for="tt3") Суммарная активная энергия ТАРИФ 1
           th#tt3 TAE Rate1
         div(class="mdl-tooltip mdl-tooltip--top" data-mdl-for="tt4") Суммарная активная энергия ТАРИФ 2
           th#tt4 TAE Rate2
         div(class="mdl-tooltip mdl-tooltip--top" data-mdl-for="tt5") Импорт активной энергии
           th#tt5 Active energy import
         div(class="mdl-tooltip mdl-tooltip--top" data-mdl-for="tt6") Импорт активной энергии ТАРИФ 1
           th#tt6 AEI Rate1
         div(class="mdl-tooltip mdl-tooltip--top" data-mdl-for="tt7") Импорт активной энергии ТАРИФ 2
           th#tt7 AEI Rate2
     tbody
       for val in values
         tr        
           td= val.date
           td= val.activeEnergy
           td= val.totalActiveEnergy
           td= val.totalActiveEnergy1
           td= val.totalActiveEnergy2
           td= val.activeEnergyImport
           td= val.activeEnergyImport1
           td= val.activeEnergyImport2
 else        
  div(class='mdl-card mdl-shadow--8dp' style='margin: auto; background-color:rgba(255, 255, 255, 0.9); margin-top:5%; width: 512px;')
    h2(style="text-align: center;") #{pageTitle}
    h2(style="text-align: center;") Данные отсутствуют
 